<div class="event-list-container">
    <div class="new-event-editor" *ngIf="createEvent === true">
        <h1 class="event-create-title">Create Event</h1>
        <form [formGroup]="eventAddForm" (ngSubmit)="eventAddForm.valid && saveNewEvent()">
            <div class="event-details" formGroupName="eventData">
                <div class="title-box">
                    <label for="event-name" class="form-label form-label-title">Title:</label><input type="text" name="event-name" id="event-name" formControlName="event-name">
                    <span *ngIf="!eventAddForm.get('eventData.event-name').valid && eventAddForm.get('eventData.event-name').touched" class="help-block">Please enter a title</span>
                </div>
                <div class="description-box">
                    <label for="event-description" class="form-label">Description:</label><textarea id="event-description" formControlName="event-description"></textarea>
                    <span *ngIf="!eventAddForm.get('eventData.event-description').valid && eventAddForm.get('eventData.event-description').touched" class="help-block">Please enter a description</span>
                </div>
            </div>
            <span *ngIf="!eventAddForm.valid && eventAddForm.touched" class="help-block">Please enter event data</span>
            <button class="btn-save" type="submit">Save</button>
            <button class="btn-cancel" (click)="cancelEventCreation()">Cancel</button>
            <div class="close-icon" (click)="cancelEventCreation()">x</div>
        </form>
    </div>
    <div *ngFor="let event of events">
        <app-events-list-item [name]="event.name" [description]="event.description"></app-events-list-item>
    </div>
    <div *ngIf="createEvent === false">
        <button class="btn-event-create" translate (click)="newEvent()">EVENTLIST.NEWEVENT</button>
    </div>

</div>