.btn-event-create {
    top: 80px;
    right: 20px;
    border: 0px;
    padding: 10px;
    border-radius: 0px;
    position: fixed;
    cursor: pointer;
    background: #6abade;
    font-size: 14px;
    color: #ffffff;
    box-shadow: 1px 1px 5px #b7b3b3;
}

.new-event-editor {
    width: 100%;
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.event-create-title {
    padding-bottom: 20px;
}

.title-box {
    padding-bottom: 10px;
}

.form-label {
    padding-right: 5px;
}

.form-label-title {
    padding-left: 50px;
}

#event-name {
    width: 80%;
    max-width: 800px;
    height: 25px;
    font-size: 16px;
    padding-left: 2px;
    box-sizing: border-box;
    border: 1px solid #d6d3d3;
}

.description-box {
    padding-bottom: 20px;
}

#event-description {
    width: 80%;
    max-width: 800px;
    height: 120px;
    resize: none;
    padding-left: 2px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #d6d3d3;
}

.btn-save {
    padding: 10px 20px;
    background: #5daba0;
    border: 1px solid #5daba0;
    border-radius: 0px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
}

.btn-cancel {
    padding: 10px 20px;
    background: #E91E63;
    border: 1px solid #E91E63;
    border-radius: 0px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
}

.close-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    line-height: 16px;
    text-align: center;
    border-radius: 9px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid red !important;
}